@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}

/*added scope*/
#scope {
    height: 100%;
    width: 100%;
}

.background-module {
    width: 180px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    display: none;
}

.background-module.open {
    display: flex;
}

.background-module__color span {
    opacity: 0;
}

.background-module__btn {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    outline: transparent;
    background-color: rgb(229, 228, 226);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.background-module__btn:hover {
    background-color: rgb(208, 208, 208);
}

.background-module__btn:focus {
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.background-module__btn:active {
    color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}